nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 3px 5px;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}
nav:hover {
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1); /* Adiciona sombra quando a classe shadow é adicionada */
}

.logo {
  display: inline-block;
  
}

.logo img {
  width: 150px; 
  height: auto;
  align-items: center;
}

.titulopage{
   justify-items: center;
}
.conteiner{
  display: center;
  justify-items: center;
}
.card {
    width: 95%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px; /* Adicionando bordas redondas */
    margin:30px; /* Reduzindo a distância entre os cards */
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f1f0f1;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-button{
  width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b1d1dd;
    color: #000000de;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}