.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    height: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px; /* Adicionando bordas redondas */
    margin: 0 30px; /* Reduzindo a distância entre os cards */
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f1f0f1;
    ;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #000000;
}

.card img {
    width: 100%;
    max-height: 150px;
    border-radius: 10px; /* Adicionando bordas redondas */
    margin-bottom: 10px;
}

